@import "tailwindcss";

@theme {
  --color-background: #1a120b;
  --color-foreground: #f3e5ab;
  --color-gold-900: #2c241b;
  --color-gold-800: #4a3b2a;
  --color-gold-700: #7c6a46;
  --color-gold-500: #d4af37;
  --color-gold-300: #e5c56d;
  --color-gold-100: #f9f1d0;
  --color-cream: #f3e5ab;

  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0em;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;
}

:root {
  --background: #1a120b;
  --foreground: #f3e5ab;
}

body {
  background: linear-gradient(to bottom, #2c241b, #0f0a00);
  background-attachment: fixed;
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}